@import '@/qunar/reset.scss';
.main {
  @include border-radius(0.1rem);
}
  .list {
    @include flexbox();
    @include margin(0.3rem 0 0.3rem 0);
    @include flex-flow(wrap);
    a {
      @include rect(23%, 3.7rem);
      @include margin(1% 1%);
      transition:all .2s linear;
      border:1px solid #eee;
      @include padding(0.1rem 0);
      img {
        @include rect(100%, auto);
        @include margin(0 0 0.2rem 0);
      }
      .goods_name {
        @include line-height(0.3rem);
        @include font-size(0.14rem);
        @include text-align();
        @include color(#000);
      }
      .goods_price {
        @include line-height(0.3rem);
        @include font-size(0.14rem);
        @include text-align();
        @include color(red);
      }
    }
    a:hover {
      box-shadow: 0 15px 30px rgba(0,0,0,0.2);
      transform: translate3d(0, -2px, 0);
    }
  }
